<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
      
       
        <br>
            <%- include("../partials/header") %>
            <%- include('../partials/errorMessage.ejs') %>
            <%- body %>
        <br>
 
    </body>

</html>